<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @opinion.autor %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @opinion.cuerpo %>
</p>

<p>
  <strong>Post:</strong>
  <%= @opinion.post_id %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', posts_path(@post) %>
